---
const pageTitle = "Sobre mí";

const identity = {
  firstName: "Daniel",
  country: "Canada",
  occupation: "Desarrollador web",
  languages: ["español", "inglés"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Redacción de documentos"];
const happy = true;
const finished = false;
const goal = 3;

const skillColor = "hsl(205deg, 80%, 50%)";
const fontBold = "600";
const textUppercase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor,fontBold,textUppercase}}>
			body {
				background-color: #333;
				color: white;
				font-family: Arial, Helvetica, sans-serif;
			}
      h1 {
        color: hsl(280deg, 90%, 60%);
        font-size: 4rem;
      }
      a {
        color: hsl(210deg, 80%, 50%);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      a:active {
        color: hsl(60deg, 80%, 50%);
        text-decoration: none;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontBold);
        text-transform: var(--textUppercase);
      }
		</style>
	</head>
	<body>
		<body>
      <h1>{pageTitle}</h1>

      <header>
        <nav>
          <a href="/">Inicio</a>
          <a href="/about/">Acerca</a>
          <a href="/blog/">Blog</a>
        </nav>
      </header>
      
      <article>
        <h2>¡ Mi nuevo sitio <b><i>Astro</i></b> !</h2>

        <ul>
          <li>Me llamo {identity.firstName}.</li>
          <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
          <li>Dos de mis lenguages son:
          { identity.languages.length === 2 && identity.languages.join(' and ') }
          </li>
        </ul>
        <p>Mis habilidades son:</p>
        <ul>
          {skills.map(skill => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>¡Estoy feliz de aprender Astro!</p>}

        {finished && <p>¡He terminado este tutorial!</p>}

        {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
      </article>
    </body>
	</body>
</html>
